<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Component Grid</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <h1>File Box</h1>

  <div class="file-container">

    <div class="file-item" style="cursor: pointer;">
      <img src="./assets/back-folder.png" alt="File Type Icon" class="file-icon">
      <div class="file-name">...</div>
    </div>

    <div class="file-item" style="cursor: pointer;">
      <img src="./assets/folder.png" alt="File Type Icon" class="file-icon">
      <div class="file-name">Folder</div>
      <div class="file-actions">
        <button class="file-action-button">Excluir</button>
      </div>
    </div>

    <div class="file-item">
      <img src="./assets/file.png" alt="File Type Icon" class="file-icon">
      <div class="file-name">1234567890 1234567890 1234567890.txt</div>
      <div class="file-actions">
        <button class="file-action-button">Baixar</button>
        <button class="file-action-button">Excluir</button>
      </div>
    </div>


  </div>
</body>

</html>