*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.files-containers{
  width: 80%;
}

.file{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}
.file > p {
  cursor: pointer;
  width: 100%;
}

.file > div {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0px 10px;
}

.file > div> p{
  cursor: pointer;
}

